.p{  margin-left: 200px;   
    color: orange;
    font-weight: bold;
    font-size: 20px;
}
.sec-2{ margin-left: 200px;
    width: 300px;
}
.textarea{ margin-left: 100px;
   width: 500px;
    border: gray solid 1px;
}
.pp{
    color: orange;
    font-weight: bold;
    font-size: 20px;
}
.mb-0{ text-align: center;
    background-color: white;
}
.bbtn{
    color: black;
}
.bbtn:hover{
    text-decoration-line: none;
    color: rgba(0, 0, 0, 0.432);
}